body{
	background-color:#002b36;
	color:#b58900;
	font-family:helvetica;
}

a:link              { color:93a1a1; text-decoration:underline; }
a:visited           { color:93a1a1; text-decoration:underline; }
a:hover             { color:839496; text-decoration:underline; }
a:active            { color:839496; text-decoration:underline; }